body{
	display: flex;
	background: url(img/bg.jpg) no-repeat fixed;
	background-size: cover;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

body.index{
	height: 97vh;
	text-shadow: 1px 1px 8px white, -1px -1px 8px white, -1px 1px 8px white, 1px -1px 8px white;
	font-family: serif;
}

.content{
	padding: 5px;
	margin: auto;
	margin-left: 15%;
	margin-right: 15%;
	border: 3px dotted #777777;
	border-radius: 8px;
	color: #ffffff;
}

.button{
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	border: 3px inset #00000000;
	transition-property: border;
	transition-duration: 0.5s;
}

.button:hover{
	border: 3px inset #888888;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

div.zikos:nth-child(odd){
	flex-direction: row-reverse;
	margin-right: 5%;
}
div.zikos:nth-child(odd) .desc{
	margin-right: 10px;
}

div.zikos:nth-child(even){
	flex-direction: row;
	margin-left: 5%;
}
div.zikos:nth-child(even) .desc{
	margin-left: 10px;
}

.zikos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 10px;
	padding: 10px;
	border: 3px inset #888888;
	border-radius: 3px;
	text-align: inherit;
	background-color: #00000099;
}

.zikos img{
	height: 40vh;
	border-radius: 40vh;
}

.desc{
	max-width: 60vh;
}

.date{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-left: 10%;
	margin-right: 10%;
	border: 3px inset #888888;
	background-color: #00000099;
	color: white;
}

.date hr{
	transform: rotate(90deg);
	width: 2em;
	height: 0;
	border: 1px solid white;
}

.date div{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.return{
	margin: auto;
	border-width: 3px;
	border-style: solid;
	border-radius: 7px;
	animation-name: return;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.footer{
	color: bisque;
}

.footer::before{
	content: "<";
}

.footer::after{
	content: ">";
}

@keyframes return{
	0%{
		border-color: #84008c;
		color: #84008c;
	}
	12.5%{
		border-color: #3f0098;
		color: #3f0098;
	}
	25%{
		border-color: #46bebc;
		color: #46bebc;
	}
	37.5%{
		border-color: #2f8a00;
		color: #2f8a00;
	}
	50%{
		border-color: #fdff00;
		color: #fdff00;
	}
	62.5%{
		border-color: #f48a00;
		color: #f48a00;
	}
	75%{
		border-color: #f00100;
		color: #f00100;
	}
	87.5%{
		border-color: #f366b1;
		color: #f366b1;
	}
	100%{
		border-color: #84008c;
		color: #84008c;
	}
}
